# Maven/Gradle Build Artifacts
/target/
/build/
/dist/

# Ignore IntelliJ IDEA Files
.idea/
*.iws
*.iml
*.ipr

# Ignore Eclipse Files
.classpath
.project
.settings/

# Ignore NetBeans Files
/nbproject/private/
/nbbuild/
/dist/
/.nb-gradle/

# VS Code
.vscode/

# OS-specific Files
.DS_Store

# Sensitive Configuration Files
.cofiguration.properties